body {
    background-image: url('https://media.istockphoto.com/photos/cards-on-green-felt-casino-table-background-picture-id1125958849?k=6&m=1125958849&s=170667a&w=0&h=JBdYf-BkLbMRoRxP9oUF-u4JcQA1vqhpFK5yiiBSbog=');
    background-repeat: no-repeat;
    background-size: cover;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 60%;
}

.endGameStatus {
    font-size: 50px;
    color: rgb(228, 4, 4);
    margin-left: 200px;
}

.rank {
    height: 35%;
}

.suit {
    height: 65%;
    text-align: center;
    font-size: 60px;
}

.cardOne, .cardTwo, .hitCardOne, .hitCardTwo, .hitCardThree, .dealerFaceUp, .dealerFaceDown, .stayCardOne, .stayCardTwo, .stayCardThree {
    height: 200px;
    width: 120px;
    background-color: white;
    font-size: 35px;
    display: flex;
    border: solid black 2px;
}

.dealerCardHolder {
    display: flex;
    flex-direction: row;
}

.flex-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: red;
    padding: 10px 10px 10px 10px;
}

h2 {
    font-size: 30px;
    padding: 10px 10px 50px 10px
}

.game {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hitMe {
    padding: 0 10px 10px 10px;
    height: 50px;
    width: 200px;
    font-size: 30px;
    border: solid rgba(230, 17, 17, 0.815)
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeMessage {
    font-size: 50px;
    color: red;
    margin-top: 17%;
}

.playerCardHolder {
    display: flex;
    flex-direction: row;
}

.scoreContainer {
    height: 200px;
    width: 700px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.restartGame {
    height: 50px;
    width: 200px;
    font-size: 30px;
    border: solid rgba(230, 17, 17, 0.815)
}

.startGame {
    text-align: center;
    height: 50px;
    width: 200px;
    font-size: 30px;
    border: solid rgba(230, 17, 17, 0.815)
}

.stay {
    height: 50px;
    width: 200px;
    font-size: 30px;
    border: solid rgba(230, 17, 17, 0.815)
}

.dealerScore {
    margin-left: 100px;
}

.playerScore {
    margin-left: 100px;
}

.playerCards {
    font-weight: bold;
}

.dealerCards {
    font-weight: bold;
}